body{
    font-family: 'Lato', sans-serif;
}
.wrapper{
    width: 1100px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
header.container{
    width: 15%;
    align-items: center;
    justify-content: space-between;
}   
.menu{
    display: flex;
    align-items: center;
}
.burger-menu .line{
width: 20px;
height: 2px;
background-color: black;
margin-bottom: 4px;
}
.burger-menu .line:last-child{
    margin: 0;
}

.language{
    display: flex;
    margin-left: 96px;

}
.language p{
    font-size: 14px;
    font-weight: 400;
}
.language .active{
    font-weight: 900;
    margin-right: 10px;
}
.logo{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.basket{
    width: 15%;
    display: flex;
    justify-content: flex-end;
}